* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-roboto;
    font-size: 1.6rem;
    color: $black;
}

h1 {
    font-family: $font-shrikhand;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
}

