$custom-purple: #9356DC;
$custom-pink: #FF79DA;
$custom-blue: #99E2D0;
$background-gradient: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

$white: #fff;
$black: #000;
$light-gray: #eee;
$background-component: #f6f6f6;

$font-shrikhand: 'Shrikhand', cursive; // titres + logo
$font-roboto: 'Roboto', sans-serif; // texte

$breakpoint-tablet: 992px;