.coche-over {
    width: 0;
    padding: 15px 0;
    overflow: hidden;
    transition: all .3s ease-in;
    background-color: $custom-blue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    i {
        color: #fff;
        transition: transform .8s ease;
    }
}