

i.fas.fa-heart {
    color: transparent;
}

i.fas.fa-heart:hover {
    animation: fill-heart 1.2s ease-in-out;
    background: $background-gradient;
    -webkit-background-clip: text;
}

@keyframes fill-heart {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1.1);
    }
}