.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: hideAnimation 0s ease-in-out 3s;
    animation-fill-mode: forwards;
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid $custom-purple;
        border-left-color: #d2c7e0;
        background: transparent;
        animation: rotate-s-loader 1s linear 3;
        margin: 6rem auto;
    }
}

@keyframes rotate-s-loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}
@keyframes hideAnimation {
    to {
        opacity: 0;
        height: 0;
        position: absolute;
    }
}