* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #000;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

button.btn {
  border: none;
  padding: 2rem;
  border-radius: 50px;
  color: #fff;
  font-size: 1.7rem;
}
button.btn-primary {
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
}
button.btn-primary:hover {
  opacity: 0.7;
  cursor: pointer;
}

header {
  position: relative;
}
header i {
  position: absolute;
  top: 25px;
  left: 15px;
  font-size: 2rem;
}
header .logo {
  text-align: center;
  padding: 1rem 0;
}

footer {
  background-color: #353535;
  color: #fff;
}
footer .page-container {
  padding: 20px;
}
footer .page-container h2 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}
footer .page-container li {
  padding: 0.5rem 0;
}
footer .page-container li i {
  margin-right: 1rem;
  width: 20px;
}

@media screen and (min-width: 992px) {
  footer .page-container {
    text-align: center;
  }
}
.page-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

#informations .localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 2rem 0;
  box-shadow: inset 0px 13px 21px -11px rgba(0, 0, 0, 0.21);
}
#informations .localisation h2 {
  font-weight: 700;
}
#informations .localisation i {
  margin-right: -20px;
}
#informations .localisation input {
  border: 0;
  background: none;
  text-align: center;
}
#informations .content {
  text-align: center;
  background-color: #f6f6f6;
  padding: 3rem 2rem;
}
#informations .content h2,
#informations .content p {
  text-align: center;
}
#informations .content h2::after {
  content: "";
  background-color: #9356DC;
  width: 10px;
  height: 1px;
}
#informations .content > * {
  margin: 1rem 0;
}

#bullet-points {
  margin: 3rem 2rem;
}
#bullet-points h2 {
  margin-bottom: 1rem;
}
#bullet-points ol li {
  margin: 1rem;
  padding: 2rem;
  background-color: #f6f6f6;
  border-radius: 17px;
  position: relative;
  counter-increment: number;
  box-shadow: 0px 8px 10px #eee;
}
#bullet-points ol li::before {
  content: counter(number);
  background-color: #9356DC;
  position: absolute;
  left: -12px;
  top: 15px;
  border-radius: 50%;
  color: #fff;
  padding: 1rem;
  font-size: 1.6rem;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bullet-points ol li:hover {
  background-color: #f5edff;
}
#bullet-points ol li:hover i {
  color: #9356DC;
}
#bullet-points ol li i {
  margin: 0 1rem;
}

#restaurants {
  background-color: #f6f6f6;
  padding: 2rem 0;
}
#restaurants h2 {
  margin: 0 2rem;
}
#restaurants .list-restaurants {
  margin: 3rem 2rem;
}
#restaurants .list-restaurants .restaurant {
  position: relative;
  border-radius: 20px;
  margin: 2rem 0;
  box-shadow: 0 0 20px #eee;
}
#restaurants .list-restaurants .restaurant img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#restaurants .list-restaurants .restaurant .content {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#restaurants .list-restaurants .restaurant .new {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #2c8f77;
  font-weight: 800;
  font-size: 13px;
  padding: 0.5rem;
  background-color: #99E2D0;
}

@media screen and (min-width: 992px) {
  #informations .localisation {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  #informations .content {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  #bullet-points ol {
    display: flex;
    justify-content: space-around;
  }
  #bullet-points ol li {
    width: 100%;
    margin: 0 2rem;
  }

  #restaurants {
    border-radius: 25px;
    margin-bottom: 2rem;
  }
  #restaurants .list-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
}
#menu {
  background-color: #f6f6f6;
  padding: 1rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -35px;
}
#menu > * {
  margin: 1rem;
}
#menu .menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu .menu-header h2 {
  font-family: "Shrikhand", cursive;
}
#menu .menu-header i {
  font-size: 2rem;
}
#menu .section-menu > h3 {
  font-weight: 100;
  font-size: 1.7rem;
  position: relative;
}
#menu .section-menu > h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
#menu .section-menu .plat {
  margin: 2rem 0;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  opacity: 0;
  margin-top: 2.6rem;
  animation: fadein 0.6s;
  animation-fill-mode: forwards;
}
#menu .section-menu .plat.delay-1 {
  animation-delay: 0.2s;
}
#menu .section-menu .plat.delay-2 {
  animation-delay: 0.4s;
}
#menu .section-menu .plat.delay-3 {
  animation-delay: 0.6s;
}
#menu .section-menu .plat .etiquette {
  flex: 1;
  padding: 4px;
}
#menu .section-menu .plat .etiquette h3 {
  font-size: 1.7rem;
}
#menu .section-menu .plat .etiquette .content {
  display: flex;
  justify-content: space-between;
}
#menu .section-menu .plat .etiquette .content p {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#menu .section-menu .plat .etiquette .content span {
  font-weight: 600;
  font-size: 1.5rem;
}
#menu .section-menu .plat:hover .coche-over {
  width: auto;
  padding: 15px;
}
#menu .section-menu .plat:hover i {
  transform: rotate(360deg);
}
#menu .menu-footer {
  text-align: center;
  margin: 5rem 0;
}
#menu .menu-footer .btn {
  width: 15rem;
}

@media screen and (min-width: 992px) {
  #banner-image img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #menu .content-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hideAnimation 0s ease-in-out 3s;
  animation-fill-mode: forwards;
}
.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  border-left-color: #d2c7e0;
  background: transparent;
  animation: rotate-s-loader 1s linear 3;
  margin: 6rem auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hideAnimation {
  to {
    opacity: 0;
    height: 0;
    position: absolute;
  }
}
i.fas.fa-heart {
  color: transparent;
}

i.fas.fa-heart:hover {
  animation: fill-heart 1.2s ease-in-out;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
}

@keyframes fill-heart {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.1);
  }
}
.coche-over {
  width: 0;
  padding: 15px 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.coche-over i {
  color: #fff;
  transition: transform 0.8s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 2.6rem;
  }
  to {
    opacity: 1;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
