#informations {
    .localisation {
        display: flex;
        justify-content: center;
        background-color: #eaeaea;
        padding: 2rem 0;
        box-shadow: inset 0px 13px 21px -11px rgba(0,0,0,0.21);
        h2 {
            font-weight: 700;
        }
        i {
            margin-right: -20px;
        }
        input {
            border: 0;
            background: none;
            text-align: center;
        }
    }
    .content {
        text-align: center;
        background-color: #f6f6f6;
        padding: 3rem 2rem;
        h2,
        p {
            text-align: center;
        }
        h2::after {
            content: '';
            background-color: $custom-purple;
            width: 10px;
            height: 1px;
        }
        > * {
            margin: 1rem 0;
        }
    }
} 
#bullet-points {
    margin: 3rem 2rem;
    h2 {
        margin-bottom: 1rem;
    }
    ol {
        li {
            margin: 1rem;
            padding: 2rem;
            background-color: $background-component;
            border-radius: 17px;
            position: relative;
            counter-increment: number;
            box-shadow: 0px 8px 10px $light-gray;
            &::before {
                content: counter(number);
                background-color: $custom-purple;
                position: absolute;
                left: -12px;
                top: 15px;
                border-radius: 50%;
                color: $white;
                padding: 1rem;
                font-size: 1.6rem;
                width: 10px;
                height: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover {
                background-color: #f5edff;
                i {
                    color: $custom-purple;
                }
            }
            i {
                margin: 0 1rem;
            }
        }
    }
}
#restaurants {
    background-color: $background-component;
    padding: 2rem 0;
    h2 {
        margin: 0 2rem;
    }
    .list-restaurants {
        margin: 3rem 2rem;
        .restaurant {
            position: relative;
            border-radius: 20px;
            margin: 2rem 0;
            box-shadow: 0 0 20px $light-gray;
            img {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 150px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            .content {
                background-color: $white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem 1rem;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
            .new {
                position: absolute;
                right: 10px;
                top: 10px;
                color: #2c8f77;
                font-weight: 800;
                font-size: 13px;
                padding: 0.5rem;
                background-color: $custom-blue;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    #informations {
        .localisation {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .content {
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }

    #bullet-points {
        ol {
            display: flex;
            justify-content: space-around;
            li {
                width: 100%;
                margin: 0 2rem;
            }
        } 
    }

    #restaurants {
        border-radius: 25px;
        margin-bottom: 2rem;
        .list-restaurants {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem;
        }
    }
}