#menu {
    background-color: $background-component;
    padding: 1rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    margin-top: -35px;
    > * {
        margin: 1rem;
    }
    .menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-family: $font-shrikhand;
        }
        i {
            font-size: 2rem;
        }
    }
    .section-menu {
        > h3 {
            font-weight: 100;
            font-size: 1.7rem;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 40px;
                height: 3px;
                background-color: $custom-blue;
            }
        }
        .plat {
            margin: 2rem 0;
            background-color: $white;
            border-radius: 15px;
            display: flex;
            align-items: center;
            opacity: 0;
            margin-top: 2.6rem;
            animation: fadein 0.6s;
            animation-fill-mode: forwards;
            &.delay-1 {
                animation-delay: 0.2s;
            }
            &.delay-2 {
                animation-delay: 0.4s;
            }
            &.delay-3 {
                animation-delay: 0.6s;
            }
            .etiquette {
                flex: 1;
                padding: 4px;
                h3 {
                    font-size: 1.7rem;
                }
                .content {
                    display: flex;
                    justify-content: space-between;
                    p {
                        font-size: 1.5rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    span {
                        font-weight: 600;
                        font-size: 1.5rem;
                    }
                }
            }
            &:hover {
                .coche-over {
                    width: auto;
                    padding: 15px;
                }
                i {
                    transform: rotate(360deg);
                }
            }
        }
    }
    .menu-footer {
        text-align: center;
        margin: 5rem 0;
        .btn {
            width: 15rem;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    #banner-image {
        img {
            height: 30rem;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    #menu {
        .content-menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        } 
    }
}