button {
    &.btn {
        border: none;
        padding: 2rem;
        border-radius: 50px;
        color: $white;
        font-size: 1.7rem;

        &-primary {
            background: $background-gradient;
            &:hover {
                opacity: .7;
                cursor: pointer;
            }
        }
    }
}