footer {
    background-color: #353535;
    color: $white;
    .page-container {
        padding: 20px;
        h2 {
            font-family: $font-shrikhand;
            font-size: 2rem;
        }
        li {
            padding: 0.5rem 0;
            i {
                margin-right: 1rem;
                width: 20px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    footer {
        .page-container {
            text-align: center;
        } 
    }
}