header {
    position: relative;
    i {
        position: absolute;
        top: 25px;
        left: 15px;
        font-size: 2rem;
    } 
    .logo {
        text-align: center;
        padding: 1rem 0;
    }
}   
